@import url("https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Dancing+Script:wght@500&family=Montserrat:wght@200&family=PT+Sans:ital@0;1&family=Poppins:wght@200&family=Space+Mono:ital@1&family=Tajawal:wght@300&family=Tinos&family=Ubuntu:wght@300&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Chakra+Petch:wght@300&family=Dancing+Script:wght@500&family=Montserrat:wght@200&family=Orbitron&family=PT+Sans+Narrow&family=PT+Sans:ital@0;1&family=Pacifico&family=Poppins:wght@200&family=Rubik+Dirt&family=Space+Mono:ital@1&family=Tajawal:wght@300&family=Tinos&family=Ubuntu:wght@300&family=Ysabeau+Office:wght@200;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Chakra+Petch:wght@300&family=Dancing+Script:wght@500&family=Inter:wght@200;500;700&family=Montserrat:wght@200&family=Orbitron&family=PT+Sans+Narrow&family=PT+Sans:ital@0;1&family=Pacifico&family=Poppins:wght@200&family=Rubik+Dirt&family=Space+Mono:ital@1&family=Tajawal:wght@300&family=Tinos&family=Ubuntu:wght@300&family=Ysabeau+Office:wght@200;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Chakra+Petch:wght@300&family=Dancing+Script:wght@500&family=Inter:wght@200;500;700&family=Montserrat:wght@200&family=Orbitron&family=PT+Sans+Narrow&family=PT+Sans:ital@0;1&family=Pacifico&family=Poppins:wght@200&family=Rubik+Dirt&family=Signika+Negative:wght@600&family=Space+Mono:ital@1&family=Tajawal:wght@300&family=Tinos&family=Ubuntu:wght@300&family=Ysabeau+Office:wght@200;500&display=swap');

* {
    margin: 0;
    padding: 0;
}
.container{
    max-width: 1600px;
    display: flex;
    flex-direction: column;
    margin: 0px auto;
}



.favicon {
    border-radius: 50%;
}


.page-container {

    background-color: rgb(16 17 31);
    width: 18%;
    color: black;
    position: fixed;
    height: 100vh;
    z-index: 999;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    border-radius: 0px 43px 43px 0px;
    top: 4.1%;
    border-right: 1px solid white;

    transition: transform 0.4s ease-in-out;
}

.page-container.visible {
    transform: translateX(-110%);
   
}

.side-row {
    padding: 20px 3px;
    display: flex;
    flex-direction: column;

}

.text-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 15%;

}

.text-center header {
    position: relative;
    top: 0px;
    margin: 1px auto;
    text-align: center;
}

.navigation-container {
    margin-top: -29px;
}


.text-center header img {
    height: 88px;
    border-radius: 50%;
  
    margin: 10% 0%;
}

.text-center header h5 {
    margin: 7px 3px;
    font-size: 20px;

    color: #00f9ff;
    font-family: "Montserrat", sans-serif;
    font-weight: 1000;
}

section {
    margin: 20% 1%;
}

.navigation-container li {

    list-style: none;
    margin: 6px 0px;

}


.navigation-container li a {
    color: white;
    list-style: none;
    text-decoration: none;
    font-size: 20px;
    font-family: 'PT Sans Narrow', sans-serif;

}

#insta-follow {
    height: 30px;
    width: 100%;
    padding: 0px 5px;
    background-color: rgb(0 0 0);
    border-radius: 7px;
    border: 1px solid white;
    font-family: "Ysabeau Office", sans-serif;
}

#insta-follow p {
    font-size: 12px;
    color: white;
}

#insta-follow p a {
    color: white;
    text-decoration: none;

}

.social-container {
    display: flex;
    margin: 5px 0px;
    justify-content: center;
    align-items: center;

}

.social-container li {
    list-style: none;

    font-size: 12px;
    margin: 5px;

}

.social-container li a {

    text-decoration: none;
    color: #00f9ff;
    font-size: 14px;
}

.social-container li a:hover {
    font-size: 13.5px;
}

#copyright {
    font-size: 13px;
    color: white;
    margin: 1px 0px 10px 12px;
    font-family: 'Ubuntu', sans-serif;

}


html {
    scroll-behavior: smooth;
}

body {
    background-color: white;
    box-sizing: border-box;
}




/* ..................... Navbar Section ........................... */

#navbar {
    position: fixed;
    width: 100%;
    z-index: 999;
    max-width: 1600px;
}

nav {
    list-style: none;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-right: 40px;
    background-color: white;
    border-bottom: 1px solid #d0d0d0;
 
}

.left-side {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.left-side i {
    position: relative;
    left: 12px;
    font-size: 22px;
}
.left-side i:hover{
    font-size: 23px;
}
.logo {
   
    font-size: 20px;
    margin: 2px 30px;
    font-family: 'Ysabeau Office', sans-serif;
    color: black;
    font-weight: 1000;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a {
    font-size: 20px;
    color: black;
    list-style: none;
    text-decoration: none;
    font-weight: 1000;
    position: relative;
    font-family: 'Ysabeau Office', sans-serif;
}

nav ul li a::after {
    content: "";
    width: 0;
    height: 3px;
    background-color: #1fafcc;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.3s;
}

nav ul li a:hover::after {
    width: 100%;
}

/* ................ Header-body section....................*/


.header-body {
    padding: 100px 0px 100px 0px;
    color: rgb(255, 255, 255);
    font-family: "Montserrat", sans-serif;
    background: #000000;
}

.header-row {
    margin-left: 8%;
    margin-right: 10%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.header-text {
    flex-basis: 48%;
    margin-top: 35px;
}

.header-picture {
    flex-basis: 38%;
    margin-top: 60px;
}

.header-text h1 {
    font-weight: 800;
    margin-top: 15px;
    font-size: 50px;
    font-family: 'Inter', sans-serif;
}

.header-text h1 span {
    color: #FFD95A;
}

.header-text p {
    font-weight: 400;
    font-size: 30px;
    font-family: 'Inter', sans-serif;
}

#about-line {
    font-size: 15px;
    font-weight: 400;
    margin-top: 10px;
    font-family: 'Inter', sans-serif;
}


.header-picture img {
    height: 372px;
    width: 325px;
    margin-top: -55px;
    border-radius: 15px;
}


.main-container {

    font-family: "Montserrat", sans-serif;
}

/* ...................About section.............................. */

#about {
    padding: 80px 0;
    color: black;
}

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left: 5%;
    margin-right: 5%;
}

#about-img {
    height: 100%;
    width: 100%;
}


.about-column-1 {
    flex-basis: 35%;
}

.about-column-1 img {
    border-radius: 15px;
    width: 100%;
}

.about-column-2 {
    flex-basis: 60%;
}
.about-me-tag{
    margin-bottom: 20px;
}
.about-column-2 p {
    font-family: 'Ysabeau Office', sans-serif;
    font-size: 15px;
    font-weight: 600;
}



.subtitle {
    font-size: 50px;
    font-weight: bolder;
    color: black;
    font-family: 'Signika Negative', sans-serif;
    margin-bottom: 10px;
}

.tab-titles p {
    font-family: 'Ysabeau Office', sans-serif;
    font-size: 24px;
}

.tab-titles {
    display: flex;
    margin: 15px 0 30px;
}

.tab-links {
    margin-right: 40px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    color: black;
    position: relative;
}

.tab-links::after {
    content: "";
    width: 0;
    height: 3px;
    background-color: #1fafcc;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.3s;
}

.tab-links:hover::after {
    width: 100%;
}

.tab-links.active-link::after {
    width: 50%;
}

.tab-contents ul li {
    font-family: 'Ysabeau Office', sans-serif;
    list-style: none;
    margin: 10px 0;
    font-size: 15px;
    font-weight: 700;
}

.tab-contents ul li span {
    font-family: 'Signika Negative', sans-serif;
    color: #1b00ff;
    font-size: 15px;
    font-weight: bold;
}

.tab-contents {
    display: none;
}

.tab-contents.active-tab {
    display: block;
}

/* ...................Services Section.............................. */

.services-container {
    margin-left: 8%;
    margin-right: 8%;
    font-family: "Montserrat", sans-serif;
}

#services {
    padding: 30px 0;
}

.services-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 30px;
    margin-top: 40px;
}

.services-list div {
    background: rgb(140 140 140);
    padding: 63px 40px;
    color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
        rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
        rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    border-radius: 10px;
    transition: background 0.5s ease 0s, transform 0.5s ease 0s;
}

.services-list div:hover {
  
    transform: translateY(-10px);
 

}

.services-list div i {
    font-size: 50px;
    margin-bottom: 30px;
}

.services-list div h2 {
    font-family: 'Ysabeau Office', sans-serif;
    font-size: 20px;
    font-weight: 1000;
}

.services-list div p {
    font-family: 'Ysabeau Office', sans-serif;
}

.services-list div a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 12px;
    margin-top: 15px;
    display: inline-block;
    font-weight: 1000;
}

/* ...................portfolio Section.............................. */

.portfolio-container {
    margin-left: 8%;
    margin-right: 8%;
    font-family: "Montserrat", sans-serif;
}

#portfolio {
    padding: 40px 0;
}

.work-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 30px;
    margin-top: 40px;
}

.work {
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    color: white;
}

.work img {
    width: 100%;
    display: block;
    transition: transform 0.5s;
}

#first {
    height: 316px;
}

.layer {
    background: linear-gradient(rgba(0, 0, 0, 0.5), #191919);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: 100%;
    height: 0;
    transition: height 0.5s;
}

.layer h1 {
    font-weight: 900;
    margin-bottom: 20px;
}

.layer a {
    margin-top: 20px;
    color: #ff004f;
    font-size: 18px;
    line-height: 60px;
    background-color: #fff;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.work:hover img {
    transform: scale(1.1);
}

.work:hover .layer {
    height: 100%;
}

.see-more-btn {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
        rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
        rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    font-family: 'Ysabeau Office', sans-serif;
    ;
    display: block;
    margin: 50px auto;
    width: fit-content;
  
    padding: 14px 40px;
    border-radius: 6px;
    text-decoration: none;
    color: #000000;
    font-weight: bold;
    transition: background 0.5s;
}

.see-more-btn:hover {
    background: #646FD4;
}

/* ...................Contact Section.............................. */

.contact-container {
    margin-left: 8%;
    margin-right: 8%;
    font-family: "Montserrat", sans-serif;
}

#contact {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 30px;
    margin-top: 40px;
}

.first-column p {
    margin-top: 30px;
    font-family: 'Ysabeau Office', sans-serif;
    font-weight: 600;
}

.first-column p i {
    color: #000000;
    margin-right: 15px;
    font-size: 25px;
}

.social-icons {
    margin-top: 35px;
}

.social-icons a {
    text-decoration: none;
    font-size: 30px;
    margin-right: 12px;
    color: #000000;
    display: inline-block;
    transition: transform 0.5s;
}

.social-icons a:hover {
    color: #646FD4;
    transform: translateY(-5px);
}

.btn.btn2 {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
        rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
        rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    font-family: 'Ysabeau Office', sans-serif;
    ;
    display: block;
    width: fit-content;
    background: #646FD4;
    border-radius: 6px;
    text-decoration: none;
    color: #000000;
    font-weight: 600;
    border: none;
}

.second-column form {
    width: 100%;
}

form input,
form textarea {
    width: 100%;
    border: 0;
    outline: none;
    background: #646FD4;
    padding: 15px;
    color: #000000;
    margin: 15px 0;
    font-size: 20px;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
        rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
        rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

::placeholder {
    color: black;
}

.first-column a.btn {
    padding: 10px 15px;
    margin-top: 10px;
}

form .btn2 {
    padding: 10px 35px;
    font-size: 18px;
    margin-top: 16px;
    cursor: pointer;
    margin-bottom: 46px;
}

.fotter {
    background: #A1C2F1;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    margin: 0px 1%;
    border-radius: 10px;
    margin-top: 35px;
    margin-bottom: 10px;
}

.fotter-row {
    display: flex;
    flex-wrap: wrap;
    margin-left: 5%;
    margin-right: 0%;

}

.fotter-divs {
    margin: 5px 10px;
}

.col1 {
    flex-basis: 55%;

}

.col2 {
    flex-basis: 15%;

}

.col3 {
    flex-basis: 15%;

}

.fotter-divs h3 {
    font-family: 'Ysabeau Office', sans-serif;
    font-size: 23px;
    color: #40128B;
}

.fotter-divs p {
    font-family: 'Signika Negative', sans-serif;
    font-size: 15px;
    font-weight: 500;
}

.fotter-divs a {
    text-decoration: none;
    color: black;
    font-family: 'Signika Negative', sans-serif;
    font-size: 15px;
}


.fotter-links {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.greeting {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    width: 100%;
    text-align: center;
    padding: 15px 0;
    background: #262626;
    margin-top: 20px;
    font-weight: 500;
    color: white;
    font-family: 'Ysabeau Office', sans-serif;
    font-size: 15px;
    border-top: 2px solid white;
    border-radius: 10px;
}
 

/* ...................... Media Queryies of small screen ....................... */
#times,
#menu {
    display: none;
   
    color: black;
}



@media only screen and (max-width: 479px) {
    #inner-container {
        width: 95vw;
        margin: auto;
    }

    .tab-titles p {
        font-size: 20px;
        margin-right: 18px;
    }
}

@media only screen and (max-width: 342px) {


    .tab-titles p {
        font-size: 20px;
        margin-right: 13px;
    }
}

@media only screen and (max-width: 320px) {


    .tab-titles p {
        font-size: 15px;
        margin-right: 5px;
    }
}


@media only screen and (max-width: 600px) {

    #times,
    #menu {
        display: block;
        font-size: 25px;
        color: black;
    }

    .services-container {
        margin-left: 5%;
    }

    .portfolio-container {
        margin-left: 5%;
    }

    .contact-container {
        margin-left: 5%;
        margin-right: 12%;

    }

    .header-body {
        margin-left: 5%;
    }

    .main-container {
        margin-left: 5%;

    }

    .header-text {
        flex-basis: 35%;
    }

    .header-picture {
        flex-basis: 38%;
        margin-right: 23px;
    }

    nav ul {
        background: #ff004f;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
    }

    nav ul li {
        display: block;
        margin: 35px;
        color: white;
    }

    nav ul #times {
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
        color: white;
    }

    .subtitle {
        font-size: 40px;
    }

    .about-column-1,
    .about-column-2 {
        flex-basis: 100%;
    }

    .about-column-1 {
        margin-bottom: 30px;
    }

    .about-column-2 {
        font-size: 15px;
    }

    .tab-links {
        font-size: 30px;
        margin-right: 18px;
    }

    .first-column,
    .second-column {
        
        flex-basis: 100%;
      
    }
}

#msg {
    color: #ff0000;
    font-family: 'Signika Negative', sans-serif;
    margin-top: -30px;
    display: block;
    font-size: 15px;
    font-family: "Montserrat", sans-serif;
}

;

