@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Dancing+Script:wght@500&family=Montserrat:wght@200&family=PT+Sans:ital@0;1&family=Poppins:wght@200&family=Space+Mono:ital@1&family=Tajawal:wght@300&family=Tinos&family=Ubuntu:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: white;
    box-sizing: border-box;
}

#inner-container {
    /* background-color: #f6f6f6; */
    background-color: #F0FFFF;
    width: 95vw;
    border: 1px #454545;
    margin: auto;
    /* height: 90vh; */
    position: relative;
    top: 23px;
    border: 0.4px solid #999999;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    /* background-image: url(/Images/picture.jpg); */
    background-size: conver;
    background-position: center;
}

/* ..................... Navbar Section ........................... */

.container-nav {
    font-family: 'Montserrat', sans-serif;

}

nav {
    list-style: none;
    display: flex;
    align-items: center;
    flex: wrap;
    justify-content: space-between;
    padding-right: 40px;
    background-color: white;
    border-bottom: 1px solid #d0d0d0;

}

.logo {
    width: 120px;
    margin: 2px 30px;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;

}

nav ul li a {
    font-size: 20px;
    color: black;
    list-style: none;
    text-decoration: none;
    font-weight: 1000;
    position: relative;
}

nav ul li a::after {
    content: '';
    width: 0;
    height: 3px;
    background-color: #1fafcc;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.3s;
}

nav ul li a:hover::after {
    width: 100%;
}

/* ................ Header-body section....................*/

.header-body {
    margin-left: 11%;
    padding: 100px 0px 15px 0px;
    color: black;
}

.header-row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}

.header-text {
    flex-basis: 46%;
}

.header-picture {
    flex-basis: 38%;
}

.header-text h1 {
    margin-top: 15px;
    font-size: 50px;

}

.header-text h1 span {
    color: #ff004f;
}

.header-text p {
    font-weight: bold;
    font-size: 30px;
}

.header-picture img {
    height: 372px;
    /* width: 370px; */
    margin-top: -70px px;
    border-radius: 15px;
}


.main-container {
    margin-left: 11%;
    margin-right: 5%;
    font-family: 'Montserrat', sans-serif;
}



/* ...................About section.............................. */

#about {
    padding: 60px 0;
    color: black;
}

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}

#about-img {
    height: 200px;

}

.about-column-1 {
    flex-basis: 35%;

}

.about-column-1 img {
    border-radius: 15px;
    width: 100%;
}

.about-column-2 {
    flex-basis: 60%;

}

.subtitle {
    font-size: 50px;
    font-weight: bolder;
    color: black;

}

.tab-titles {
    display: flex;
    margin: 15px 0 30px;

}

.tab-links {
    margin-right: 40px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    color: black;
    position: relative;
}

.tab-links::after {
    content: '';
    width: 0;
    height: 3px;
    background-color: #1fafcc;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.3s;


}

.tab-links:hover::after {
    width: 100%;
}

.tab-links.active-link::after {
    width: 50%;
}

.tab-contents ul li {
    list-style: none;
    margin: 10px 0;

}

.tab-contents ul li span {
    color: rgb(198, 3, 130);
    font-size: 15px;
    font-weight: bold;
}

.tab-contents {
    display: none;
}

.tab-contents.active-tab {
    display: block;
}

/* ...................Services Section.............................. */
.services-container {
    margin-left: 11%;
    margin-right: 5%;
    font-family: 'Montserrat', sans-serif;
}

#services {
    padding: 30px 0;

}

.services-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 30px;
    margin-top: 40px;
}

.services-list div {
    background: #262626;
    padding: 30px;
    color: white;
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s;


}

.services-list div:hover {
    background: #88e7ff;
    transform: translateY(-10px);
    color: black;

}

.services-list div i {
    font-size: 50px;
    margin-bottom: 30px;
}

.services-list div h2 {
    font-size: 20px;
    font-weight: bold;
}

.services-list div a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 12px;
    margin-top: 15px;
    display: inline-block;

}
/* ...................portfolio Section.............................. */


.portfolio-contaner {
    margin-left: 11%;
    margin-right: 5%;
    font-family: 'Montserrat', sans-serif;
}

#portfolio {
    padding: 40px 0;

}

.work-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 30px;
    margin-top: 40px;

}

.work {
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    color: white;

}

.work img {
    width: 100%;
    display: block;
    transition: transform 0.5s;
}

#first {
    height: 316px;

}

.layer {

    background: linear-gradient(rgba(0, 0, 0, 0.5), #ff004f);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: 100%;
    height: 0;
    transition: height 0.5s;
}

.layer h1 {
    font-weight: 900;
    margin-bottom: 20px;
}
.layer a{
    margin-top: 20Px;
    color: #ff004f;
    font-size: 18px;
    line-height: 60px;
    background-color: #fff;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.work:hover img{
    transform: scale(1.1);
}
.work:hover .layer{
    height: 100%;
}
.btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid rgb(226, 189, 44);
    padding: 14px 40px;
    border-radius: 6px;
    text-decoration: none;
    color: #410dfd;
    font-weight: bold;
    transition: background 0.5s;
}
.btn:hover{
    background: #ff004f;

}


.contact-container{
    margin-left: 11%;
    margin-right: 5%;
    font-family: 'Montserrat', sans-serif;
}
#contact{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 30px;
    margin-top: 40px;
}
.first-column p{
    margin-top: 30px;

}
.first-column p i{
    color: #ff004f;
    margin-right: 15px;
    font-size: 25px;
}
.social-icons{
    margin-top: 35px;
    
}
.social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 12px;
    color: #ababab;
    display: inline-block;
    transition: transform 0.5s;

}
.social-icons a:hover{
    color: #ff004f;
    transform: translateY(-5px);
}
.btn.btn2{
    display: inline-block;
    background: #ff004f;
}
.second-column form{
  width: 100%;

}
form input , form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    color: #fff;
    margin: 15px 0 ;
    font-size: 20px;
    border-radius: 6px;
}
form .btn2{
    padding: 14px 40px;
    font-size: 18px;
    margin-top: 16px;
    cursor: pointer;
}
.greeting{
    width: 100%;
    text-align: center;
    padding: 20px 0;
    background : #262626;
    margin-top: 20px;
    font-weight: 500;
    color: white;
    font-family: 'Montserrat', sans-serif;
}
