@import url("https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Dancing+Script:wght@500&family=Montserrat:wght@200&family=PT+Sans:ital@0;1&family=Poppins:wght@200&family=Space+Mono:ital@1&family=Tajawal:wght@300&family=Tinos&family=Ubuntu:wght@300&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Chakra+Petch:wght@300&family=Dancing+Script:wght@500&family=Montserrat:wght@200&family=Orbitron&family=PT+Sans+Narrow&family=PT+Sans:ital@0;1&family=Pacifico&family=Poppins:wght@200&family=Rubik+Dirt&family=Space+Mono:ital@1&family=Tajawal:wght@300&family=Tinos&family=Ubuntu:wght@300&family=Ysabeau+Office:wght@200;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Chakra+Petch:wght@300&family=Dancing+Script:wght@500&family=Inter:wght@200;500;700&family=Montserrat:wght@200&family=Orbitron&family=PT+Sans+Narrow&family=PT+Sans:ital@0;1&family=Pacifico&family=Poppins:wght@200&family=Rubik+Dirt&family=Space+Mono:ital@1&family=Tajawal:wght@300&family=Tinos&family=Ubuntu:wght@300&family=Ysabeau+Office:wght@200;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Chakra+Petch:wght@300&family=Dancing+Script:wght@500&family=Inter:wght@200;500;700&family=Montserrat:wght@200&family=Orbitron&family=PT+Sans+Narrow&family=PT+Sans:ital@0;1&family=Pacifico&family=Poppins:wght@200&family=Rubik+Dirt&family=Signika+Negative:wght@600&family=Space+Mono:ital@1&family=Tajawal:wght@300&family=Tinos&family=Ubuntu:wght@300&family=Ysabeau+Office:wght@200;500&display=swap');

* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: white;
    box-sizing: border-box;
}

/* #inner-container {

    background-color: #f0ffff;
    width: 95vw;
    border: 1px #454545;
    margin: auto;
    position: relative;
    top: 23px;
    border: 0.4px solid #999999;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-size: conver;
    background-position: center;
} */

/* ..................... Navbar Section ........................... */

#navbar {
    position: fixed;
    width: 100%;
    z-index: 999;
}

nav {
    list-style: none;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-right: 40px;
    background-color: white;
    border-bottom: 1px solid #d0d0d0;
}

.logo {
    /* width: 120px; */
    font-size: 20px;
    margin: 2px 30px;
    font-family: 'Ysabeau Office', sans-serif;
    color: black;
    font-weight: 1000;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a {
    font-size: 20px;
    color: black;
    list-style: none;
    text-decoration: none;
    font-weight: 1000;
    position: relative;
    font-family: 'Ysabeau Office', sans-serif;
}

nav ul li a::after {
    content: "";
    width: 0;
    height: 3px;
    background-color: #1fafcc;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.3s;
}

nav ul li a:hover::after {
    width: 100%;
}

/* ................ Header-body section....................*/


.header-body {
    padding: 100px 0px 100px 0px;
    color: rgb(255, 255, 255);
    font-family: "Montserrat", sans-serif;
    background: #000000;
}

.header-row {
    margin-left: 8%;
    margin-right: 10%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.header-text {
    flex-basis: 48%;
    margin-top: 35px;
}

.header-picture {
    flex-basis: 38%;
    margin-top: 60px;
}

.header-text h1 {
    font-weight: 800;
    margin-top: 15px;
    font-size: 50px;
    font-family: 'Inter', sans-serif;
}

.header-text h1 span {
    color: #FFD95A;
}

.header-text p {
    font-weight: 400;
    font-size: 30px;
    font-family: 'Inter', sans-serif;
}

#about-line {
    font-size: 15px;
    font-weight: 400;
    margin-top: 10px;
    font-family: 'Inter', sans-serif;
}


.header-picture img {
    height: 372px;
    width: 325px;
    margin-top: -55px;
    border-radius: 15px;
}


.main-container {

    font-family: "Montserrat", sans-serif;
}

/* ...................About section.............................. */

#about {
    padding: 60px 0;
    color: black;
}

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left: 5%;
    margin-right: 5%;
}

#about-img {
    height: 300px;
    width: 300px;
}


.about-column-1 {
    flex-basis: 35%;
}

.about-column-1 img {
    border-radius: 15px;
    width: 100%;
}

.about-column-2 {
    flex-basis: 60%;
}

.about-column-2 p {
    font-family: 'Ysabeau Office', sans-serif;
    font-size: 15px;
    font-weight: 600;
}



.subtitle {
    font-size: 50px;
    font-weight: bolder;
    color: black;
    font-family: 'Signika Negative', sans-serif;
}

.tab-titles p {
    font-family: 'Ysabeau Office', sans-serif;
    font-size: 24px;
}

.tab-titles {
    display: flex;
    margin: 15px 0 30px;
}

.tab-links {
    margin-right: 40px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    color: black;
    position: relative;
}

.tab-links::after {
    content: "";
    width: 0;
    height: 3px;
    background-color: #1fafcc;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.3s;
}

.tab-links:hover::after {
    width: 100%;
}

.tab-links.active-link::after {
    width: 50%;
}

.tab-contents ul li {
    font-family: 'Ysabeau Office', sans-serif;
    list-style: none;
    margin: 10px 0;
    font-size: 15px;
    font-weight: 700;
}

.tab-contents ul li span {
    font-family: 'Signika Negative', sans-serif;
    color: #1b00ff;
    font-size: 15px;
    font-weight: bold;
}

.tab-contents {
    display: none;
}

.tab-contents.active-tab {
    display: block;
}

/* ...................Services Section.............................. */

.services-container {
    margin-left: 8%;
    margin-right: 8%;
    font-family: "Montserrat", sans-serif;
}

#services {
    padding: 30px 0;
}

.services-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 30px;
    margin-top: 40px;
}

.services-list div {
    background: rgb(140 140 140);
    padding: 63px 40px;
    color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
        rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
        rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    border-radius: 10px;
    transition: background 0.5s ease 0s, transform 0.5s ease 0s;
}

.services-list div:hover {
    /* background: #19376D; */
    transform: translateY(-10px);
    /* color: black; */

}

.services-list div i {
    font-size: 50px;
    margin-bottom: 30px;
}

.services-list div h2 {
    font-family: 'Ysabeau Office', sans-serif;
    font-size: 20px;
    font-weight: 1000;
}

.services-list div p {
    font-family: 'Ysabeau Office', sans-serif;
}

.services-list div a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 12px;
    margin-top: 15px;
    display: inline-block;
    font-weight: 1000;
}

/* ...................portfolio Section.............................. */

.portfolio-container {
    margin-left: 8%;
    margin-right: 8%;
    font-family: "Montserrat", sans-serif;
}

#portfolio {
    padding: 40px 0;
}

.work-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 30px;
    margin-top: 40px;
}

.work {
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    color: white;
}

.work img {
    width: 100%;
    display: block;
    transition: transform 0.5s;
}

#first {
    height: 316px;
}

.layer {
    background: linear-gradient(rgba(0, 0, 0, 0.5), #191919);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: 100%;
    height: 0;
    transition: height 0.5s;
}

.layer h1 {
    font-weight: 900;
    margin-bottom: 20px;
}

.layer a {
    margin-top: 20px;
    color: #ff004f;
    font-size: 18px;
    line-height: 60px;
    background-color: #fff;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.work:hover img {
    transform: scale(1.1);
}

.work:hover .layer {
    height: 100%;
}

.see-more-btn {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
        rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
        rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    font-family: 'Ysabeau Office', sans-serif;
    ;
    display: block;
    margin: 50px auto;
    width: fit-content;
    /* border: 1px solid rgb(226, 189, 44); */
    padding: 14px 40px;
    border-radius: 6px;
    text-decoration: none;
    color: #000000;
    font-weight: bold;
    transition: background 0.5s;
}

.see-more-btn:hover {
    background: #646FD4;
}

/* ...................Contact Section.............................. */

.contact-container {
    margin-left: 8%;
    margin-right: 8%;
    font-family: "Montserrat", sans-serif;
}

#contact {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 30px;
    margin-top: 40px;
}

.first-column p {
    margin-top: 30px;
    font-family: 'Ysabeau Office', sans-serif;
    font-weight: 600;
}

.first-column p i {
    color: #000000;
    margin-right: 15px;
    font-size: 25px;
}

.social-icons {
    margin-top: 35px;
}

.social-icons a {
    text-decoration: none;
    font-size: 30px;
    margin-right: 12px;
    color: #000000;
    display: inline-block;
    transition: transform 0.5s;
}

.social-icons a:hover {
    color: #646FD4;
    transform: translateY(-5px);
}

.btn.btn2 {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
        rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
        rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    font-family: 'Ysabeau Office', sans-serif;
    ;
    display: block;
    width: fit-content;
    background: #646FD4;
    border-radius: 6px;
    text-decoration: none;
    color: #000000;
    font-weight: 600;
    border: none;
}

.second-column form {
    width: 100%;
}

form input,
form textarea {
    width: 100%;
    border: 0;
    outline: none;
    background: #646FD4;
    padding: 15px;
    color: #000000;
    margin: 15px 0;
    font-size: 20px;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
        rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
        rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

::placeholder {
    color: black;
}

.first-column a.btn {
    padding: 10px 15px;
    margin-top: 10px;
}

form .btn2 {
    padding: 10px 35px;
    font-size: 18px;
    margin-top: 16px;
    cursor: pointer;
    margin-bottom: 46px;
}
.fotter{
    background: #3847d7;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    margin: 0px 1%;
    border-radius: 10px;
}

.fotter-row{
    display: flex;
    flex-wrap: wrap;
    margin-left: 5%;
    margin-right: 5%;
    font-family: cursive;
}

.col1{
    flex-basis: 50%;
    
}
.col2{
    flex-basis: 25%;

}
.col3{
    flex-basis: 25%;

}
.fotter-row h3{
    font-family: 'Ysabeau Office', sans-serif;
}
.fotter-row p{
    font-family: 'Signika Negative', sans-serif;
}
.fotter-divs{
    list-style: none;
    color: black;
}
.greeting {
    width: 100%;
    text-align: center;
    padding: 15px 0;
    background: #262626;
    margin-top: 20px;
    font-weight: 500;
    color: white;
    font-family: 'Ysabeau Office', sans-serif;
    font-size: 15px;    
}

.floating-btn {
    border-radius: 26.5px;
    background-color: #001F61;
    border: 1px solid #001F61;
    box-shadow: 0 16px 22px -17px #03153B;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    line-height: 20px;
    padding: 12px 20px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 999;
}

.floating-btn:hover {
    background-color: #ffffff;
    color: #001F61;
}

.floating-btn:focus {
    outline: none;
}


/* ...................... Media Queryies of small screen ....................... */
#times,
#menu {
    display: none;
    /* font-size: 45px; */
    color: black;
}



@media only screen and (max-width: 479px) {
    #inner-container {
        width: 95vw;
        margin: auto;
    }

    .tab-titles p {
        font-size: 20px;
        margin-right: 18px;
    }
}

@media only screen and (max-width: 342px) {


    .tab-titles p {
        font-size: 20px;
        margin-right: 13px;
    }
}

@media only screen and (max-width: 320px) {


    .tab-titles p {
        font-size: 15px;
        margin-right: 5px;
    }
}


@media only screen and (max-width: 600px) {

    #times,
    #menu {
        display: block;
        font-size: 25px;
        color: black;
    }

    .services-container {
        margin-left: 5%;
    }

    .portfolio-container {
        margin-left: 5%;
    }

    .contact-container {
        margin-left: 5%;
        margin-right: 12%;

    }

    .header-body {
        margin-left: 5%;
    }

    .main-container {
        margin-left: 5%;

    }

    .header-text {
        flex-basis: 35%;
    }

    .header-picture {
        flex-basis: 38%;
        margin-right: 23px;
    }

    nav ul {
        background: #ff004f;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
    }

    nav ul li {
        display: block;
        margin: 35px;
        color: white;
    }

    nav ul #times {
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
        color: white;
    }

    .subtitle {
        font-size: 40px;
    }

    .about-column-1,
    .about-column-2 {
        flex-basis: 100%;
    }

    .about-column-1 {
        margin-bottom: 30px;
    }

    .about-column-2 {
        font-size: 15px;
    }

    .tab-links {
        font-size: 30px;
        margin-right: 18px;
    }

    .first-column,
    .second-column {
        /* margin: 15px auto; */
        flex-basis: 100%;
        /* but it will not work becasue it's a grid container */
    }
}

#msg {
    color: #ff0000;
    font-family: 'Signika Negative', sans-serif;
    margin-top: -30px;
    display: block;
    font-size: 15px;
    font-family: "Montserrat", sans-serif;
}

;

/* get in touch section */
.floating-container {
    position: fixed;
    right: 0;
    bottom: 80px;
    transform: translateX(100%);
    transition: transform 0.4s ease-in-out;
}

.floating-container.visible {
    transform: translateX(-10px);
}

.social-media-panel {
    background-color: #3cdbff;
    border-radius: 18px 1px 1px 18px;
    box-shadow: 0 16px 31px -17px rgba(0, 31, 97, 0.6);
    border: 2px solid #000000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Muli";
    position: relative;
    height: 235px;
    width: 52px;
    /* max-width: calc(100% - 10px); */
    right: -25%;
}

.social-media-panel button.close-btn {
    border: 0;
    color: #97a5ce;
    cursor: pointer;
    font-size: 20px;
    position: absolute;
    top: 5px;
    right: 5px;
}

.social-media-panel button.close-btn:focus {
    outline: none;
}

.social-media-panel p {
    background-color: #001f61;
    border-radius: 0 0 10px 10px;
    color: #fff;
    font-size: 14px;
    line-height: 18px;
    padding: 2px 17px 6px;
    position: absolute;
    top: 0;
    left: 50%;
    margin: 0;
    transform: translateX(-50%);
    text-align: center;
    width: 235px;
}

.social-media-panel p i {
    margin: 0 5px;
}

.social-panel p a {
    color: #ff7500;
    text-decoration: none;
}

.social-media-panel h4 {
    margin: 20px 0;
    color: #97a5ce;
    font-family: "Muli";
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
}

.social-panel ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.social-media-panel ul li {
    margin: 0 10px;
    list-style: none;
}

.social-media-panel ul li a {
    border: 1px solid #dce1f2;
    border-radius: 50%;
    color: #000000;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    width: 35px;
    text-decoration: none;
    margin-right: 0px;
    margin-bottom: 4px;
}

.social-media-panel ul li a:hover {
    border-color: #ff6a00;
    box-shadow: 0 9px 12px -9px #ff6a00;
}

.floating-btn {
    border-radius: 11.5px;
    background-color: #e4f215;
    border: 1px solid #001f61;
    box-shadow: 0 16px 22px -17px #03153b;
    color: #000;
    font-weight: bold;
    cursor: pointer;
    font-size: 13px;
    line-height: 18px;
    padding: 12px 10px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 999;
}

.floating-btn:hover {
    background-color: #ffffff;
    color: #001f61;
}

.floating-btn:focus {
    outline: none;
}